* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
  max-width: 1188px;
  margin: 90px auto;
  padding: 0;
}
img {
  display: block;
}

.gallery-item {
  width: 360px;
  height: 200px;
  overflow: hidden;
  transition: width 360ms cubic-bezier(0.22, 1, 0.36, 1),
    height 360ms cubic-bezier(0.22, 1, 0.36, 1);
}

.gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

.gallery-item {
  width: 376px;
  height: 208px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
  object-fit: cover;
  object-position: center center;
  transition: width 360ms cubic-bezier(0.22, 1, 0.36, 1),
    height 360ms cubic-bezier(0.22, 1, 0.36, 1);
}

.gallery-item:hover .gallery-image,
.gallery-image:hover {
  width: 376px;
  height: 208px;
}

.modal-img {
    max-width: 90vh;
    max-height: 90vh;
}